@font-face{font-family:"Flaticon";src:url("../fonts/flaticon.eot");src:url("../fonts/flaticond41d.eot?#iefix") format("embedded-opentype"),
url("../fonts/flaticon.woff") format("woff"),
url("../fonts/flaticon.ttf") format("truetype"),
url("../fonts/flaticon.svg#Flaticon") format("svg");font-weight:normal;font-style:normal;}
@media screen and (-webkit-min-device-pixel-ratio:0){@font-face{font-family:"Flaticon";src:url("../fonts/flaticon.svg#Flaticon") format("svg");}
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after{font-family:Flaticon;font-style:normal;}
.flaticon-engineer:before{content:"\f100";}
.flaticon-material:before{content:"\f101";}
.flaticon-log:before{content:"\f102";}
.flaticon-parquet:before{content:"\f103";}
.flaticon-tag:before{content:"\f104";}
.flaticon-price-tag:before{content:"\f105";}
.flaticon-title:before{content:"\f106";}
.flaticon-kitchen:before{content:"\f107";}
.flaticon-draws:before{content:"\f108";}
.flaticon-sofa-1:before{content:"\f109";}
.flaticon-sofa-2:before{content:"\f10a";}
.flaticon-sofa:before{content:"\f10b";}
.flaticon-drawing:before{content:"\f10c";}
.flaticon-arrows-7:before{content:"\f10d";}
.flaticon-word:before{content:"\f10e";}
.flaticon-trophy-1:before{content:"\f10f";}
.flaticon-e-mail-envelope:before{content:"\f110";}
.flaticon-go-back-arrow:before{content:"\f111";}
.flaticon-boat-anchor:before{content:"\f112";}
.flaticon-send-message-button:before{content:"\f113";}
.flaticon-web:before{content:"\f114";}
.flaticon-boat-lifesaver:before{content:"\f115";}
.flaticon-business-2:before{content:"\f116";}
.flaticon-home-page:before{content:"\f117";}
.flaticon-clock-4:before{content:"\f118";}
.flaticon-full-screen:before{content:"\f119";}
.flaticon-computer-1:before{content:"\f11a";}
.flaticon-graphic-1:before{content:"\f11b";}
.flaticon-briefcase-1:before{content:"\f11c";}
.flaticon-blood-donation:before{content:"\f11d";}
.flaticon-business-1:before{content:"\f11e";}
.flaticon-24-hours:before{content:"\f11f";}
.flaticon-send:before{content:"\f120";}
.flaticon-shopping-cart-1:before{content:"\f121";}
.flaticon-message:before{content:"\f122";}
.flaticon-bar-chart:before{content:"\f123";}
.flaticon-home-1:before{content:"\f124";}
.flaticon-arrows-6:before{content:"\f125";}
.flaticon-file-1:before{content:"\f126";}
.flaticon-chat:before{content:"\f127";}
.flaticon-settings-1:before{content:"\f128";}
.flaticon-cloud:before{content:"\f129";}
.flaticon-envelope-1:before{content:"\f12a";}
.flaticon-planet-earth:before{content:"\f12b";}
.flaticon-placeholder-3:before{content:"\f12c";}
.flaticon-interface-1:before{content:"\f12d";}
.flaticon-layers-1:before{content:"\f12e";}
.flaticon-edit:before{content:"\f12f";}
.flaticon-trophy:before{content:"\f130";}
.flaticon-note-1:before{content:"\f131";}
.flaticon-line-graph:before{content:"\f132";}
.flaticon-telemarketer:before{content:"\f133";}
.flaticon-flash:before{content:"\f134";}
.flaticon-calendar-1:before{content:"\f135";}
.flaticon-medal:before{content:"\f136";}
.flaticon-car:before{content:"\f137";}
.flaticon-computer:before{content:"\f138";}
.flaticon-money-bag-1:before{content:"\f139";}
.flaticon-smartphone-1:before{content:"\f13a";}
.flaticon-technology-2:before{content:"\f13b";}
.flaticon-user-1:before{content:"\f13c";}
.flaticon-technology-1:before{content:"\f13d";}
.flaticon-photo-camera:before{content:"\f13e";}
.flaticon-arrows-5:before{content:"\f13f";}
.flaticon-arrows-4:before{content:"\f140";}
.flaticon-speech-bubble:before{content:"\f141";}
.flaticon-heart-1:before{content:"\f142";}
.flaticon-paper-plane:before{content:"\f143";}
.flaticon-star-1:before{content:"\f144";}
.flaticon-graphic:before{content:"\f145";}
.flaticon-right-quote:before{content:"\f146";}
.flaticon-left-quote-1:before{content:"\f147";}
.flaticon-layers:before{content:"\f148";}
.flaticon-add:before{content:"\f149";}
.flaticon-next-2:before{content:"\f14a";}
.flaticon-note:before{content:"\f14b";}
.flaticon-timer:before{content:"\f14c";}
.flaticon-down-arrow:before{content:"\f14d";}
.flaticon-search-1:before{content:"\f14e";}
.flaticon-clock-3:before{content:"\f14f";}
.flaticon-interface:before{content:"\f150";}
.flaticon-shopping-bag-2:before{content:"\f151";}
.flaticon-shopping-bag-1:before{content:"\f152";}
.flaticon-arrows-3:before{content:"\f153";}
.flaticon-magnifying-glass:before{content:"\f154";}
.flaticon-smartphone:before{content:"\f155";}
.flaticon-time:before{content:"\f156";}
.flaticon-left-arrow-2:before{content:"\f157";}
.flaticon-right-arrow-3:before{content:"\f158";}
.flaticon-minus-symbol:before{content:"\f159";}
.flaticon-plus-symbol:before{content:"\f15a";}
.flaticon-clock-2:before{content:"\f15b";}
.flaticon-download-arrow:before{content:"\f15c";}
.flaticon-envelope:before{content:"\f15d";}
.flaticon-up-arrow:before{content:"\f15e";}
.flaticon-arrows-2:before{content:"\f15f";}
.flaticon-clock-1:before{content:"\f160";}
.flaticon-people:before{content:"\f161";}
.flaticon-commenting:before{content:"\f162";}
.flaticon-technology:before{content:"\f163";}
.flaticon-share-symbol:before{content:"\f164";}
.flaticon-arrows-1:before{content:"\f165";}
.flaticon-sent-mail:before{content:"\f166";}
.flaticon-menu-options:before{content:"\f167";}
.flaticon-web-page-home:before{content:"\f168";}
.flaticon-coin-icon:before{content:"\f169";}
.flaticon-right-arrow:before{content:"\f16a";}
.flaticon-business:before{content:"\f16b";}
.flaticon-arrow-pointing-to-right:before{content:"\f16c";}
.flaticon-right-arrow-2:before{content:"\f16d";}
.flaticon-water-drop:before{content:"\f16e";}
.flaticon-house-outline:before{content:"\f16f";}
.flaticon-left-arrow-1:before{content:"\f170";}
.flaticon-round:before{content:"\f171";}
.flaticon-check-symbol:before{content:"\f172";}
.flaticon-forward-arrow:before{content:"\f173";}
.flaticon-left-quote:before{content:"\f174";}
.flaticon-placeholder-filled-point:before{content:"\f175";}
.flaticon-right-quotation-sign:before{content:"\f176";}
.flaticon-play-arrow:before{content:"\f177";}
.flaticon-opened-email-outlined-interface-symbol:before{content:"\f178";}
.flaticon-power:before{content:"\f179";}
.flaticon-wifi-connection-signal-symbol:before{content:"\f17a";}
.flaticon-world:before{content:"\f17b";}
.flaticon-word-file:before{content:"\f17c";}
.flaticon-symbol:before{content:"\f17d";}
.flaticon-smiling-emoticon-square-face:before{content:"\f17e";}
.flaticon-map-marker:before{content:"\f17f";}
.flaticon-black:before{content:"\f180";}
.flaticon-home:before{content:"\f181";}
.flaticon-tag-black-shape:before{content:"\f182";}
.flaticon-quote-left:before{content:"\f183";}
.flaticon-tags:before{content:"\f184";}
.flaticon-check-1:before{content:"\f185";}
.flaticon-user-shape:before{content:"\f186";}
.flaticon-telephone-handle-silhouette:before{content:"\f187";}
.flaticon-right-quotation-mark:before{content:"\f188";}
.flaticon-comments:before{content:"\f189";}
.flaticon-earth:before{content:"\f18a";}
.flaticon-pdf:before{content:"\f18b";}
.flaticon-pencil:before{content:"\f18c";}
.flaticon-arrow:before{content:"\f18d";}
.flaticon-user:before{content:"\f18e";}
.flaticon-previous:before{content:"\f18f";}
.flaticon-arrows:before{content:"\f190";}
.flaticon-padlock:before{content:"\f191";}
.flaticon-library:before{content:"\f192";}
.flaticon-right-arrow-1:before{content:"\f193";}
.flaticon-list:before{content:"\f194";}
.flaticon-drop:before{content:"\f195";}
.flaticon-unlink:before{content:"\f196";}
.flaticon-search:before{content:"\f197";}
.flaticon-attachment:before{content:"\f198";}
.flaticon-like-1:before{content:"\f199";}
.flaticon-play-button:before{content:"\f19a";}
.flaticon-users:before{content:"\f19b";}
.flaticon-placeholder-2:before{content:"\f19c";}
.flaticon-clock:before{content:"\f19d";}
.flaticon-diamond:before{content:"\f19e";}
.flaticon-placeholder-1:before{content:"\f19f";}
.flaticon-file:before{content:"\f1a0";}
.flaticon-calendar:before{content:"\f1a1";}
.flaticon-briefcase:before{content:"\f1a2";}
.flaticon-menu:before{content:"\f1a3";}
.flaticon-check:before{content:"\f1a4";}
.flaticon-cancel-1:before{content:"\f1a5";}
.flaticon-back-1:before{content:"\f1a6";}
.flaticon-shopping-bag:before{content:"\f1a7";}
.flaticon-monitor:before{content:"\f1a8";}
.flaticon-piggy-bank-1:before{content:"\f1a9";}
.flaticon-shopping-cart:before{content:"\f1aa";}
.flaticon-phone-call:before{content:"\f1ab";}
.flaticon-headphones-1:before{content:"\f1ac";}
.flaticon-vector:before{content:"\f1ad";}
.flaticon-house:before{content:"\f1ae";}
.flaticon-share:before{content:"\f1af";}
.flaticon-musical-note:before{content:"\f1b0";}
.flaticon-back:before{content:"\f1b1";}
.flaticon-next-1:before{content:"\f1b2";}
.flaticon-star:before{content:"\f1b3";}
.flaticon-link:before{content:"\f1b4";}
.flaticon-like:before{content:"\f1b5";}
.flaticon-settings:before{content:"\f1b6";}
.flaticon-heart:before{content:"\f1b7";}
.flaticon-placeholder:before{content:"\f1b8";}
.flaticon-next:before{content:"\f1b9";}
.flaticon-garbage:before{content:"\f1ba";}
.flaticon-telephone:before{content:"\f1bb";}
.flaticon-money-bag:before{content:"\f1bc";}
.flaticon-piggy-bank:before{content:"\f1bd";}
.flaticon-headphones:before{content:"\f1be";}
.flaticon-coin:before{content:"\f1bf";}
.flaticon-favorite:before{content:"\f1c0";}
.flaticon-plus:before{content:"\f1c1";}
.flaticon-minus:before{content:"\f1c2";}
.flaticon-checked:before{content:"\f1c3";}
.flaticon-unchecked:before{content:"\f1c4";}
.flaticon-profile:before{content:"\f1c5";}
.flaticon-cancel:before{content:"\f1c6";}
.flaticon-left-arrow:before{content:"\f1c7";}
.flaticon-location-pin:before{content:"\f1c8";}